.headerbackground {
    background-color: var(--main-header-grey);
    border: 1px solid var(--main-header-grey);
    border-radius: 5px;
    margin-top: -1%;
}

#h1Title {
    font-size: 300%;
}

header {
    margin-bottom: 1%;
    position: sticky;
}

.destination {
    border: 1px solid var(--main-header-grey);
    border-radius: 5px;
}

.form-select {
    display: inline;
    width: 90%;
}

.font18 {
    font-size: 18px;
}